{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Dog Collector</title>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper red darken-3">
                <ul>
                    <li>
                        <a href="/" class="left brand-logo">&nbsp;&nbsp;DogCollector &nbsp;</a>
                    </li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'dogs_create' %}">Add a Dog</a></li>
                        <li><a href="{% url 'toys_create' %}">Add a Toy</a></li>
                        <li><a href="{% url 'toys_list' %}">View All My Toys</a></li>
                        <li><a href="{% url 'index' %}">View All My Dogs</a></li>
                        <li><a href="{% url 'logout' %}">Log Out {{ user.username }}</a></li>
                    {% else %}
                        <li><a href="{% url 'signup' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer red darken-3">
        <div class="right">
            All Rights Reserved &copy; 2020 Dog Collector
        </div>
    </footer>
</body>
</html>