{% extends 'base.html' %}

{% block content %}

<h1>Dog Details</h1>

<div class="card blue lighten-5">
  <div class="card-content">
    <span class="card-title">{{ dog.name }}</span>
    <p>Breed: {{ dog.breed }}</p>
    <p>Description: {{ dog.description }}</p>
    {% if dog.age > 0 %}
      <p>Age: {{ dog.age }}</p>
    {% else %}
      <p>Age: Puppy</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'dogs_update' dog.id %}">Edit</a>
    <a href="{% url 'dogs_delete' dog.id %}">Delete</a>
  </div>
</div>

{% endblock %}